.container {
  width: 710px;
}

body {
  background: white;
  font-family: arial;
  font-size: 14px;
  
}

#center
 {
  text-align:justify;	
}

#right
 {
  text-align:right;	
}

header {
  padding-top: 20px;
}

header img {
  padding: 1em;
  background: #fff;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

section h1 {
  font-size: 200%;
}


td.main {
  width: 70%;
  padding: 1em;
}

div.field, div.actions {
  margin-bottom: 10px;
}

/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  color: red; 
}